<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mail - Smart Email Application</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p class="h1">Smart Inbox</p>
      </div>
      <div class="col-sm-4 col-sm-offset-4 text-right">
        <br>
        <a href="/newmail/" class="btn btn-primary"> New Email </a>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      {% for mail in mails %}
      <h4>From: {{ mail.sender }}</h4>
      <h4>Subject: {{ mail.subject }}</h4>
      <h4>Mail Type: {{ mail.category }}</h4>
      <br>
      <p>{{ mail.content }}</p>
      {% endfor %}
    </div>

    <br><br><br>
    <div class="container">
      {% if reminder %}
        <a href="">{{reminder}}</a>
      {% else %}
        <p></p>
      {% endif %}
    </div>
    <br>

    <div class="container">
      <br>
      <hr>
      <br>
      <p>Copyright &copy; 2018 - Pragyakar Joshi - 15042998</p>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
