<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Primary - Smart Email Application</title>
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SmartInbox</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/newmail/" class="btn btn-link"> New Email </a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <br>
        <div class="btn-group-vertical btn-side-nav">
            <a href="/" class="btn btn-default">All Emails</a>
            <a href="/primary/" class="btn btn-default active">Primary</a>
            <a href="/social/" class="btn btn-default">Social</a>
            <a href="/promotion/" class="btn btn-default">Promotion</a>
            <a href="/updates/" class="btn btn-default">Updates</a>
            <a href="/spam/" class="btn btn-default">Spam</a>
        </div>
      </div>
      <div class="col-sm-10">
        <h3>PRIMARY</h3>
        <br>
        <table class="table table-striped">
          <tr>
            <th>Subject</th>
            <th>Sender</th>
            <th>Action</th>
          </tr>
            {% for email in emails %}
            <tr>
            <td>{{email.subject}}</td>
            <td>{{email.sender}}</td>
            <td><a href="/readmail/{{email.id}}">View Email</a></td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
  </div>


  <div class="container">
    <br>
    <hr>
    <br>
    <p>Copyright &copy; 2018 - Pragyakar Joshi - 15042998</p>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
